go 1.24.0

use (
	.
	./e2e
	./hack/tools
	./manifests-gen
	./openshift-tests-extension
)

replace (
	github.com/metal3-io/baremetal-operator => github.com/metal3-io/baremetal-operator v0.5.1
	github.com/onsi/ginkgo/v2 => github.com/openshift/onsi-ginkgo/v2 v2.6.1-0.20251001123353-fd5b1fb35db1
	k8s.io/kubernetes => github.com/openshift/kubernetes v1.30.1-0.20251017123720-96593f323733
	sigs.k8s.io/cluster-api => sigs.k8s.io/cluster-api v1.10.4
)
